/* Estate Flow - add_land style sheet */
form{
    width: 50%;
    /* Margin auto = center */
    margin: auto;
    /* Note: alternatively "A more common method to center an element horizontally is by setting display: flex; and justify-content: center; on a container, which centers its flex item children." */
    border-style: none;
    border-width: 4px;
    border-radius: 5px;
    /* Box shadow for blurred effect, 5px horizontal and vertical shadow, 5px blur and a color of black*/
    box-shadow: 5px 5px 5px rgba(75, 74, 74, 0.103);
}

h1{
    /* vvvCode to push heading to RIGHT of bannervvv */
    display: flex;
    justify-content: flex-end;
    /* ^^^Code to push heading to RIGHT of banner^^^ */
    background-color:#05c98b; 
    border-radius: 5px;
    color: white;
}

form, h1, .inputbox, .date, .button{
    padding: 20px;
}

/* Changes apperance of all input fields for elements with class inputbox and dob */
.inputbox input, .date input{
    border-style: solid;
    /* Set borders to invisible and leaves only bottom line */
    border-left: black;
    border-right: black;
    border-top: black;
    /* Removes the outline from text box when cursor is focused to element */
    outline: none;
    width: 250px;
    height: 40px;   
    font-size: large;
}

.myButton{
    text-align: center;
}

/* Alters appearance of all button alements */
.myButton input{
    background-color:#05c98b; 
    /* Text color */
    color: white;
    font-size: large;
    border-style: none;
}

.myButton input:hover{
    background-color:rgba(13, 53, 48, 0.637);
}
