/* Estate Flow - add_land style sheet */
/*Name; Mark Lambert
Student ID: C00192497
Purpose: CSS used throughout all LAND property pages
EsateFlow - Project Y2 2025*/
form, .report{
    /* Form width is 70% of the main content area */
    width: 70%;
    /* Margin auto = center */
    margin: auto;
    border-width: 4px;
    border-radius: 5px;
    font-size: large;
}

/*Allow report to be 100% width so information is easier to read*/
.report{
	width: 100%;	
}

/* Target form, h1 and fieldset elements and apply a shadow, creating a 3D, stacked, dynamic website feel */
form, h1, fieldset{
    /* Box shadow for blurred effect, 5px horizontal and vertical shadow, 5px blur and a color of black*/
    box-shadow: 5px 5px 5px 5px rgba(75, 74, 74, 0.103);
}


/* Width of each fieldset is 50% (two fieldsets, both take up half of the form each) */
fieldset{
    width: 50%;
	border-style: solid;
    /* Set border colour to green */
	border-color: #05c98b;
    /* Set fieldset text to green */
	color: #05c98b;
	border-radius: 4px;
	font-weight: bold;
}

h1{
	text-align: center;
    /* Set h1 background = green */
    background-color:#05c98b; 
    border-radius: 5px;
    /* Set font colour white */
    color: white;
}



/* Add a uniform padding to all relevant elements within form (note .button is for the text within button to make a larger button) */
form, h1, .inputbox, .date, .button, .owner-listbox, .view-listbox, .report{
    padding: 20px;
}

/* Changes apperance of all input fields for elements with class inputbox and owner-listbox */
.inputbox input, select{
    border-style: solid;
	border-radius: 4px;
    /* Removes the bold outline from textbox when cursor is focused to element */
    outline: none;
    /* Set width of each inputbox to be 70% of the fieldset */
    width: 90%;
    height: 40px;   
    font-size: large;
}

.myButton{
    text-align: center;
    padding: 20px;
}

/* Alters appearance of all button elements */
.myButton input{
    /* Button background colour to green */
    background-color:#05c98b; 
    /* Text color to white */
    color: white;
    font-size: large;
    border-style: none;
    border-radius: 5px;
}

/* Changes background colour to LIGHT GREY when hovered over button */
.myButton input:hover{
    background-color:rgba(13, 53, 48, 0.637);
}

/* Makes all contents within the form flex items and adds a space evenly between all items*/
.formContainer{
    display: flex;
    justify-content: space-evenly;
}

/* Change disabled buttons to greyed out colour */
.myButton input:disabled{
    background-color:rgba(13, 53, 48, 0.301);
}
/* Style all listboxes*/
.owner-listbox, .view-listbox{
    text-align: center; 
    margin: 0 auto; /* Center horizontally */
    width: 50%; 
	padding: 0px; /*Reduce Padding produced by h2*/
}

/* Sets label text colour to black*/
.inputbox label{
	color:black;
}
