/*Mark Lambert C00192497, Report CSS, EstateFlow Y2 March 2025 */
th, td{
	text-align: left;
	padding: 20px;
}

/* Targets all table headings */
th{
	background-color: #05c98b;
	color: white;
}

/* When hovered over a row, change colour */
tr:hover {
	background-color: #f1f1f1;
}

/* Change colour of data cells */
td {
	color: #555;
}