/* Estate Flow Management System Menu page CSS styling */
/* SEMESTER 1 LAB 2 = RELEVANT MATERIAL */
html, body{
    /* Screen is set to 100% starting from the top-left corner */
    height: 100%;
    margin: 0;
}

/* Flex container for main screen area, ensuring menu stays on left, content on right  */
/* Takes up 100% of screen height space so menu bar flows through whole winndow view */
.container{
    display: flex;
    height: 100%;
}

/* Container for menu */
.menu{
    /* Makes all elements (buttons) within container flex items */
    display: flex;
    /*Each flex item goes to a new line for VERTICALITY*/
    flex-direction: column;
    /* Background up 100% of height */
    height: 100%;
    /* Reduces width to desired amount */
    width: 20%;
    /* Sets backgroud colour */
    background-color:#c4abab;
}

/* Container for content, buttons, text, images etc will be affect by whats placed here! */
.content{
    font-size: small;

}

/*.menu button elements Styling*/
.menu button{
    /* Button set to slightly brighter hue */
    background-color:#D6C1C1;
    /* Font colour is set to a darker hue */
    color: #6D5043;
    /* Removes border from around buttons */
    border-style: none;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium';
    /* 20px padding around text in button */
    padding: 20px;
    /* Aligns to left for visual purposes */
    text-align: left;
    /* Take up full width of sidebar */
    width: 100%;
}

/* Hover for all buttons */
.menu button:hover{
    background-color:#c4abab;
}

/* Special alignment for exit button */
.menu button.exit{
    /* Push exit button to bottom, for workflow priority */
    margin-top: auto;
}

/* Logo container */
.logo{
    /* Sets canvas size for logo */
    width: 100px;
    height: 100px;
    /* Load in logo as a background image, with no repeating tiles */
    background-image: url("images/logo3.png");
    background-repeat: no-repeat;
}

/* Hover behaviour changes to new logo */
.logo:hover{
    /* Change to a darker version of logo for hover, simulating live feedback */
    background-image: url("images/logo4.png");
}