/* ----------------------------
    Global Styles - Estate Flow
----------------------------- */
html, body {
    font-family: Arial, sans-serif; /* Define font style */
    background-color: #fdfefe; /* Set background color- pale GREY */
    color: #2e201c; /* Set text color- BLACK */
}

/* ----------------------------
    Top Bar Styles
----------------------------- */
.topBar {
    position: fixed; /* Fix position at the top */
    top: 0; /* Align to top */
    left: 0; /* Align to left */
    height: 50px; /* Top bar is set to 50px tall */
    background-color: #ffffff; /* Set background color- WHITE */
    color: #05c98b; /* Set text color- GREEN */
    font-size: 30px; /* Set font size */
    font-weight: bold; /* Make text bold */
    margin-left: 250px; /* Moves the content within the topBar to the spot where the sideBar ends (sideBar = 250px wide)*/
    width: 100%; /*Sets width to 100% of the screen*/
    padding: 10px 20px; /* Add padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect- BLACK */
}

/* ----------------------------
    Sidebar Styles
----------------------------- */
.sidebar {
    height: 100%; /* Full viewport height */
    width: 250px; /* Define width */
    position: fixed; /* Fix position */
    left: 0; /* Align to left */
    top: 0; /* Align to top */
    background-color: #cdd8d4; /* Set background color- GREY */
    padding-top: 10px; /* Add padding at top */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect- BLACK */
}

/* ----------------------------
    Sidebar Navigation Button Styles
----------------------------- */
/* Targets all .sidebar elements that use the <a> tag */
.sidebar a.button{
    width: 90%; /* Set width of links */
    padding: 12px; /* Add padding */
    text-decoration: none; /* Remove underline */
    color: #05c98b; /* Set text color- GREEN */
    text-align: center; /* Center align text */
    margin: 10px 0; /* 5px space between and 0 ensures its locked to the margin (very left of sidebar) */
    background-color: #ffffff; /* Set background color- WHITE */
    border-radius: 5px; /* Round corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect- BLACK */
    display: block; /* Display as block element */
}

/* Targets the currently selected button so user knows what page they are on */
.sidebar a.button.selected{
    background-color:#05c98b;
    color:#ffffff;
}

/*---------------------------- 
 Alters the buttons when hovered over 
----------------------------*/
.sidebar a:hover {
    background-color: #05c98b; /* Change background on hover- GREEN */
    color: #ffffff; /* Change text color on hover- WHITE */
}

/* ----------------------------
    Style 
----------------------------- */
.logo img {
    width: 180px; /* Set logo size */
    margin: 10px 30px 20px; /* Add margin */
    border-radius: 5px; /* Round corners */
    
}

.logo img:hover {
    content: url('images/logo_invert.png'); /* Change logo on hover */
}

/* ----------------------------
    Main Content Styles
----------------------------- */
.content {
    margin-left: 250px; /* Move the margin in 250px, as the sidebar takes up 250px*/
    margin-top: 50px; /* Move down 50px as the topbar takes up 50Ppx*/
    padding: 20px; /* Add padding */
    width: 80%;
}

